.flower-box {
  background-color: aqua;
  width: 100px;
  height: 100px;
}


.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('https://icons8.com/icon/104/star');
}

.filled {
  background-image: url('https://icons8.com/icon/7856/star');
}
